/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* a {
  color: #00B7FF;
} */

/* .navbar-fixed {
  width: 100vw;
}
.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
} */

div.nav-wrapper {
  background-color: black;
}
.heading{
  max-width: 700px;
}
#meme-list {
  max-width: 800px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
img{
  height: 300px;
  object-fit: cover;
}

a.btn-primary{
  background-color: black;
  border-color: black;
}

