<!DOCTYPE html>
<html>

<head>
  <title>Meme Review Homepage</title>
  <link href="/stylesheets/style.css" rel="stylesheet" />
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">Meme Review</a>
        <!-- Add login UI here -->
        <ul class="right">
          <li>
            <!-- <a href="" class="brand-logo left">SEI Student Fun Facts</a> -->
            <!-- Add login UI here -->
            <!-- <ul class="right"> -->
          <li>
            <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
            <% } %>
          </li>
          <!-- </ul> -->
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <h3> MEME VIEW </h3>
  <% if (memeObj) { %>
  <img src=<%= memeObj.url %> class="img-fluid" alt="Responsive image">
  <% } %>
</body>

</html>